{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
<h1>Partie Client</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 bg-danger mb-3">
                <h4>Liste des clients</h4>
    {% for client in clients %}
        <div class="card text-white bg-danger mb-3">
            <div class="card-Header">
                <img src="{{ client.photo }}" alt="photo du client">
            </div>
            <div class="card-body">
                <p>Sexe : {{ client.sexe }}</p>
                <p>Nom : {{ client.nom }}</p>
                <p>Prenom : {{ client.prenom }}</p>
                <p>Date de naissance : {{ client.dateNaissance | date('d/m/Y') }}</p>
                <p>Rue : {{ client.rue }}</p>
                <p>Ville : {{ client.ville }}</p>
                <p>Pays : {{ client.pays }}</p>
                <p>Email : {{ client.email }}</p>
            </div>

        </div>

    {% endfor %}
            </div>
        <div class="col-sm-8">
        <div class="card text-white bg-success mb-3">
            <div class="card-Header">
                <h1>Espace correction</h1>
            </div>
            <div class="card-body">
                <p>
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                    impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
                    imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son
                    contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant
                    des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte,
                    comme Aldus PageMaker.
                </p>
            </div>
        </div>
        <div class="card text-white bg-info mb-3">
            <div class="card-Header">
                <h1>Espace verres-montures</h1>
            </div>
            <div class="card-body">
                <p>
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                    impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
                    imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son
                    contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant
                    des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte,
                    comme Aldus PageMaker.
                </p>
            </div>

        </div>
        </div>
        </div>
    </div>
{% endblock %}
